.box-image {
    width: 300px; /* Задайте желаемую фиксированную ширину */
    height: 300px; /* Задайте желаемую фиксированную высоту */
    object-fit: cover; /* Обеспечивает сохранение пропорций и обрезает лишнее */
}

.box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.box-text {
    margin-left: 20px;
}